{% extends "::front.html.twig" %}
    {% block heading_profile %}
        {{ entity.name }}
    {% endblock heading_profile %}
    {% block profile %}
        <div class="row">
            <aside class="avatar col-md-2">
            </aside>
            <section class="col-md-10" >
                <ul class="list">
                    <li class="list-item">{{ entity.description}}</li>
                </ul>
            </section>
        </div>
    {% endblock profile %}
    {% block heading_wall %}
        <div class="row">
            {% for user in users %}
                <div class="col-md-offset-2 col-md-8">
                    {% if app.security.token.user == entity.owner or user%}
                        {{ form(form) }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div>
            <h2>Recent posts</h2>
            {% for post_body in post %}
                <div class="panel panel-default">
                    <div class="panel-body">{{ post_body.text|raw }}
                        {% if app.security.token.user == post_body.author %}
                            <a class="pull-right" href="{{ path('delete_community_post', {'id': post_body.id}) }}">
                                Delete
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        No posts added yet
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock heading_wall %}
