{% extends "::front.html.twig" %}
{% block wall %}
<ul class="list">
    <li class="list-item"> <img src="{{ asset('uploads/avatar/') }}{{ entity.avatar }}" class="avatar_mini media-object" alt="Your avatar">{{ entity.name }}</li>
    <li class="list-item"> {{ entity.description}}</li>
    {% if app.security.token.user == entity.owner %}
        <div class="button"><a href="{{ path('front_community_edit',{'id':entity.id}) }}">Edit community</a></div>
    {% endif %}
</ul>
<div class="row">
    {% if null != users %}
        {% for user in users %}
            <div class="col-md-offset-2 col-md-8">
                {% if app.security.token.user == entity.owner or user%}
                    {{ form(form) }}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
<div>
    <h2>Recent posts</h2>
    {% if null == post %}
    {% else %}
        {% for post_body in post %}
            <div class="panel panel-default">
                <div class="panel-body">{{ post_body.text|raw }}
                    {% if app.security.token.user == post_body.author %}
                        <a class="pull-right" href="{{ path('delete_community_post', {'id': post_body.id}) }}">
                            Delete
                        </a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-body">
                    No posts added yet
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock wall %}
