
    {{ render(controller('BionicUniversityCommunityBundle:Front/ProjectTask:new', {'communityId': communityId})) }}
    <h5 class="center">Project Tasks list</h5>
    <div class="panel panel-default">

        <!-- Progress table -->
        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                <tr>

                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Progress</th>
                    <th class="text-right">Action</th>
                </tr>
                </thead>
                <tbody id="responsive-table-body">

                {% for entity in entities %}
                    <tr>
                        <td>
                            <ul class="list">
                            {% if tasks[entity.id]['tasks'] is defined %}
                                {% for user, task in tasks[entity.id]['tasks'] %}
                                    {% for date, el in task %}
                                        {% if users[user] is defined  %}
                                            <li>
                                            {{ el }} <br> <span class="text-primary"> {{ users[user].firstName }} {{ users[user].lastName }} </span> - <span class="lalka">28 May, 2015</span>
                                            </li><br>
                                        {% endif%}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            </ul>
                            <a href="{{ path('community_projecttask_show', {'communityId': communityId, 'taskId': entity.id }) }}">{{ entity.id }}</a>
                        </td>
                        <td ><a href="{{ path('community_projecttask_show', {'communityId': communityId, 'taskId': entity.id }) }}">{{ entity.title|raw }}</a></td>
                        <td style="word-break: break-all">{{ entity.description|raw }}</td>
                        <td><span class="label label-primary">{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</span></td>
                        <td>
                            <div class="progress" {% if tasks[entity.id] is not defined or tasks[entity.id]['percent'] == 0 %} style="width: 0%" {% endif %}>
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{% if tasks[entity.id] is  defined and tasks[entity.id]['percent'] is  defined  %}{{ tasks[entity.id].percent }}{% else %}0{% endif %}" aria-valuemin="2"
                                     aria-valuemax="100"  {% if tasks[entity.id] is  defined and tasks[entity.id]['percent'] is  defined  %}style="width:{{ tasks[entity.id].percent }}%"{% endif %}>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <a href="{{ path('community_projecttask_edit', {'communityId': communityId, 'taskId': entity.id }) }}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                            {% if entity.taskManager %}
                                <a href="{{ path('community_projecttask_taskmanager_show', {'communityId': communityId, 'taskId': entity.id, 'taskManagerId': entity.taskManager.id }) }}" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="Go to Task Manager"><i class="fa fa-arrow-circle-up"></i></a>
                                <a href="{{ path('community_projecttask_taskmanager_delete', {'communityId': communityId, 'taskId': entity.id, 'taskManagerId': entity.taskManager.id }) }}" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Delete Task Manager"><i class="fa fa-times-circle"></i></a>
                            {% else %}
                                <a href="{{ path('community_projecttask_taskmanager_add', {'communityId': communityId, 'taskId': entity.id }) }}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Add Task Manager"><i class="fa fa-share"></i></a>
                            {% endif %}
                            <a href="{{ path('community_projecttask_remove', {'communityId': communityId, 'taskId': entity.id }) }}" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- // Progress table -->

    </div>

