{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" />

    <![endif]-->

    <!--  Stylesheet Complete CSS compiled from ../assets/css/admin/module.admin.stylesheet-complete.less -->
    <link rel="stylesheet" href="{{ asset('assets/css/admin/module.admin.stylesheet-complete.min.css') }}" />

{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div id="menu" class="hidden-print hidden-xs sidebar-default sidebar-brand-primary">
            <div id="sidebar-social-wrapper">

                <!-- LOGO / TEXT -->
                <div id="brandWrapper">
                    <a href="#"><span class="text">Sparrow</span></a>
                </div>

                <ul class="menu list-unstyled">
                    <li class="hasSubmenu">
                        <a href="/" ><i class=" icon-home-1"></i><span>Profile</span></a>
                    </li>
                    <li class="hasSubmenu">
                        <a href="{{ path('user_friends') }}" ><i class="icon-group"></i><span>Friends</span></a>
                    </li>
                    <li class="hasSubmenu">
                        <a href="{{ path('messages') }}" ><i class="icon-comment-typing"></i><span>Message</span></a>
                    </li>
                    <li class="hasSubmenu">
                        <a href="{{ path('communities') }}" ><i class="icon-ghost"></i><span>Communities</span></a>
                    </li>
                    <li class="hasSubmenu">
                        <a href="{{ path('user_setting') }}" ><i class="icon-toilet"></i><span>Settings</span></a>
                    </li>
                    {% if app.security.isGranted("ROLE_SONATA_ADMIN") %}
                        <li>
                            <a href="{{ path('sonata_admin_dashboard') }}"><i class="icon-tv"></i><span>To admin</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div id="content">

            <div class="navbar hidden-print navbar-default box main" role="navigation">

                <!--  RIGHT TOGGLE BUTTON FOR SIDEBAR CHAT  -->
                <div class="user-action user-action-btn-navbar pull-right border-left">
                    <a href="#menu-right" class="btn btn-sm btn-navbar btn-open-right"><i class="fa fa-comments fa-2x"></i></a>
                </div>

                <!--  LEFT TOGGLE BUTTON FOR SIDEBAR MENU -->
                <div class="user-action user-action-btn-navbar pull-left">
                    <a href="#menu" class="btn btn-sm btn-navbar btn-open-left"><i class="fa fa-bars fa-2x"></i></a>
                </div>

                <!-- ICON WITH DROPDOWN FOR NOTIFICATIONS    -->
                <ul class="notifications pull-left hidden-xs">
                    <li class="dropdown notif">
                        <a href="#" class="dropdown-toggle"  data-toggle="dropdown"><i class="notif-block icon-envelope-1"></i><span class="fa fa-star"></span></a>
                        {{ render(controller('BionicUniversityMessageBundle:Front/Message:lastMessage', {
                        'max': 3
                        })) }}
                    </li>
                </ul>

                <!--  USER DROPDOWN MENU-->
                <div class="user-action pull-left menu-right-hidden-xs menu-left-hidden-xs border-left">
                    <div class="dropdown username pull-left">
                        <!-- DROPDOWN BUTTON -->
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="media margin-none">
					<span class="pull-left"><img src="{{ app.security.token.user.avatar }}" alt="user" class="img-circle"></span>
					<span class="media-body">{{ app.security.token.user.firstname }} <span class="caret"></span></span>
				</span>
                        </a>
                        <!-- DROPDOWN ITEMS -->
                        <ul class="dropdown-menu">
                            <li><a href="/">Profile</a></li>
                            <li><a href="{{ path('messages') }}">Messages</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>

                <!--  SEARCH INPUT 100% WIDTH-->
                <div class="input-group hidden-xs pull-left">
                    <span class="input-group-addon"><i class="icon-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search a friend"/>
                </div>
            </div>
            {% block wrapper %}
            <!-- <div class="layout-app">  -->
            <div class="innerAll">
                <div class="row">
                    <div class="col-lg-9 col-md-8">

                        <div class="timeline-cover">
                            <div class="cover">
                                <div class="top">
                                    <img src="../assets//images/photodune-2755655-party-time-s.jpg" class="img-responsive" />
                                </div>
                                <ul class="list-unstyled">
                                    <li class="active"><a href="index.html?lang=en"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                                    <li><a href="{{ path('user_friends') }}{{ path('messages') }}"><i class="fa fa-fw icon-group"></i><span> Friends </span><small>(19)</small></a></li>
                                    <li><a href="{{ path('messages') }}"><i class="fa fa-fw icon-envelope-fill-1"></i> <span>Messages</span> <small>(2 new)</small></a></li>
                                </ul>
                            </div>
                            <div class="widget">
                                <div class="widget-body padding-none margin-none">
                                    <div class="innerAll">
                                        <i class="fa fa-quote-left text-muted pull-left fa-fw"></i>
                                        <p class="lead margin-none">What a fun Partyyy</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% block content %}
                        {% endblock content %}
                        <!-- // Widget END -->
                    </div>
                </div>
            </div>

                    {% block profile %}
                    {% endblock profile %}
            {% endblock wrapper %}
        </div>


        <!-- // Content END -->

        <div class="clearfix"></div>
        <!-- // Sidebar menu & content wrapper END -->



        <!-- FOOTER HERE -->
    </div>

    <!-- REQUIRED VARIABLES SCRIPTS -->

    <!-- FOOTER SCRIPTS -->
{% endblock body %}
