{% for user in conversations %}
    <li class="border-bottom  bg-primary">
        <a href="{{ path('message_conversation',{'id':user.id}) }}" class="text-white">
            <div class="media innerAll">
                <div class="media-object pull-left hidden-phone">
                    <img src="{{ asset('/uploads/avatar/'~user.avatar) }}" width="50" alt="Image"/>
                </div>
                <div class="media-body">
                    <div><span class="strong">{{ user }}</span>
                        <small class="text-italic text-white pull-right label label-default"></small>
                    </div>
                    {% if user.incomingMessages|length > 0 %}
                        <div>{{ user.incomingMessages.first.body | raw }}</div>
                    {% elseif  user.outcomingMessages|length > 0 %}
                        <div>{{ user.outcomingMessages.first.body | raw }}</div>

                    {% endif %}
                </div>
            </div>
        </a>
    </li>
{% endfor %}
