{% extends "::front.html.twig" %}
{% block wrapper %}
    <!-- <div class="layout-app">  -->
    <div class="innerAll">
    <!-- Widget -->
    <div class="widget widget-messages widget-heading-simple widget-body-white">
    <div class="widget-body padding-none margin-none">

    <div class="row row-merge borders">
    <div class="col-md-3 listWrapper">
        <div class="innerAll">
                    {{ form(userSearchForm) }}
        </div>
        <div class="bg-gray text-center strong border-top innerAll half"> <span class="conv_title">{% if messages | length != 0 %}
                {{ messages | length }} messages in conversation
            {% else %}Please select interlocutor
            {% endif %}
            </span><i class="fa fa-circle-arrow-down"></i></div>
        <ul class="list-unstyled">
            {{ render(controller('BionicUniversityMessageBundle:Front/Message:recentConversation')) }}
        </ul>
    </div>
    <div class="col-md-9 detailsWrapper">

        {% if null != interlocutor %}
        <!-- User -->
        <div class="bg-primary">
            <div class="media">
                <a href="" class="pull-left">
                    <img src="{{ asset('/uploads/avatar/'~interlocutor.avatar) }}" width="65" class="media-object">
                </a>
                <div class="media-body innerTB innerR">
                    <h4 href="" class="text-white pull-left innerAll strong display-block margin-none">{{ interlocutor }}</h4>


                </div>

            </div>
        </div>
        <div class="bg-gray innerAll text-center margin-none"></div>
        <div  id="type" class=" border-top">
            {{ form(messageForm)  }}
        </div>

        <div class="widget border-top padding-none margin-none">

            {% for message in messages %}
            <!--  Message -->
            <div class="media margin-none innerAll">
                <a href="" class="pull-left hidden-xs">
                    <img src="{{ asset('/uploads/avatar/'~message.fromUser.avatar) }}" width="60" class="media-object">
                </a>
                <div class="media-body innerTB">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="innerT half">
                                <div class="media">
                                    <div class="pull-left">
                                        <a href="" class="strong text-inverse ">{{ message.fromUser }}</a>
                                        <span class="innerR text-muted visible-xs"></span>
                                    </div>
                                    <div class="media-body">
                                        {{ message.body | raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                                			<span class="pull-right innerR innerT text-right  text-muted messagestatus">
                                            <p>{% if message.isread != 0 %}read{% else %}unread{% endif %} message | received
										{{ message.createdAt | date ('h:i d-m-Y')}}</p>
										</span>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="bg-gray innerAll text-center margin-none">Please choose conversation</div>
        {% endif %}
    </div>

    </div>
    </div>
    </div>
    <!-- // Widget END -->
<script>
    var url =  '/messages/%s?_token={{ token }}';
</script>
    </div>
{% endblock %}
