{% extends "::front.html.twig" %}
    {% block heading_profile %}
        Type a message
    {% endblock heading_profile %}
    {% block profile %}
        {{ form(form) }}
    {% endblock profile %}
    {% block heading_wall %}
        <h1>My messages</h1>
        {% block messages %}
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#incoming" role="tab" data-toggle="tab">Incoming</a></li>
                <li><a href="#outcoming" role="tab" data-toggle="tab">Outcoming</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="incoming">
                    <ul>
                        {% for in_mess_one in in_mess %}
                            <div class="panel panel-info messages_panel">
                                <div class="panel-heading">
                                    {% if in_mess_one.fromuser.avatar == null %}
                                    <li class="messages_list"><a href="{{ path('user_profile',{'id':in_mess_one.fromuser.id}) }}">{{ in_mess_one.fromuser }}</a></li>
                                    {% else %}
                                    <li class="messages_list"><img src="{{ asset('uploads/avatar/') }}{{ in_mess_one.fromuser.avatar }}" class="avatar_mini" alt="ava">
                                        <a href="{{ path('user_profile',{'id':in_mess_one.fromuser.id}) }}">{{ in_mess_one.fromuser }}</a></li>
                                    {% endif %}
                                        <div class="createdAt">{{ in_mess_one.createdat|date("m/d/Y/h:m") }}</div>
                                </div>
                                <div class="panel-body">
                                    <li class="messages_list">{{ in_mess_one.body }}</li>
                                    <div class="sf-button"><a href="{{ path('messages_reply',{'id':in_mess_one.fromuser.id}) }}">Reply</a></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    No messages recieved yet
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="outcoming">
                    <ul>
                        {% for out_mess_one in out_mess %}
                            <div class="panel panel-danger messages_panel">
                                <div class="panel-heading">
                                    {% if out_mess_one.touser.avatar == null %}
                                        <li class="messages_list"><a href="{{ path('user_profile',{'id':out_mess_one.touser.id}) }}">{{ out_mess_one.touser }}</a></li>
                                    {% else %}
                                        <li class="messages_list"><img src="{{ asset('uploads/avatar/') }}{{ out_mess_one.touser.avatar }}" class="avatar_mini" alt="ava"><a href="{{ path('user_profile',{'id':out_mess_one.touser.id}) }}">{{ out_mess_one.touser }}</a></li>
                                    {% endif %}
                                    <div class="createdAt">{{ out_mess_one.createdat|date("m/d/Y/h:m") }}</div>
                                </div>
                                <div class="panel-body">
                                    <li class="messages_list">{{ out_mess_one.body }}</li>
                                    <div class="sf-button"><a href="{{ path('messages_reply',{'id':out_mess_one.touser.id}) }}">Send one more</a></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    No messages sent yet
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endblock messages %}
    {% endblock heading_wall %}

{% block javascripts %}
    {{ parent() }}
    <script>$(document).ready($('#myTab a').tab('show'))</script>
{% endblock javascripts %}
