{% block wrapper %}
    {% block content %}
        <div class="gridalicious-row" data-toggle="gridalicious" data-gridalicious-width="340" data-gridalicious-gutter="12"
             data-gridalicious-selector=".gridalicious-item">
            <div class="innerAll inner-2x loading text-center text-medium"><i class="fa fa-fw fa-spinner fa-spin"></i>
                Loading
            </div>
            <div class="loaded hide2">

                {% for post in posts %}
                    <!-- Widget -->
                    <div class="widget gridalicious-item not-responsive">
                        <!-- Info -->
                        <div class="bg-primary">
                            <div class="media">
                                <a href="" class="pull-left"><img src="{{ post.author.avatar }}"
                                                                  style="max-width: 50px !important; margin: 10px 10px 10px 11px;"
                                                                  class="media-object"></a>

                                <div class="media-body innerTB half">

                                    {% if app.security.token.user == post.author %}
                                        <a href="{{ path('delete_post', {'id': post.id}) }}" class="pull-right innerT innerR text-white">
                                            <i class="icon-circle-delete fa fa-2x "></i>
                                        </a>
                                    {% endif %}

                                    <a href="" class="text-white strong display-block">{{ post.author }}</a>
                                    <span>on {{ post.createdAt | date }}</span>
                                </div>

                            </div>
                        </div>


                        <!-- Content -->
                        <div class="innerAll text-justify">
                            <p>
                                <span class="readmore">
                                    {{ post.text | raw }}
                                </span>
                            </p>
                        </div>
                    </div>

                    <!-- //End Widget -->
                {% endfor %}

    {% endblock content %}
{% endblock wrapper %}
