{% extends "::front.html.twig" %}
{% block profile %}
    {% include('@BionicUniversityUser/User/Front/profile_block.html.twig') %}
{% endblock profile %}

{% block content %}
    <h3>About</h3>

    <div class="row">
        <div class="col-sm-6">
            <div class="innerAll bg-white">
                <h5>Short Bio</h5>
                <div class="media innerB ">
                    <a href="" class="pull-left">
                        <img src="{{ asset('/uploads/avatar/'~ user.avatar) }}" alt="" width="75"/>
                    </a>
                    <div class="media-body">
                        <p>{% if null != user.aboutMe %}{{ user.aboutMe }}{% else %}User has left this field blank{% endif %}</p>
                    </div>
                </div>
                <h5>Hobby</h5>
                    {% for interest in interests %}
                        <span class="innerR innerB">
							<i class="box-generic innerAll {{ interest.icon }} fa fa-4x" data-toggle="tooltip" data-original-title="{{ interest.name }}" data-placement="bottom"></i>
						</span>
                    {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="widget">
                <div class="widget-head border-bottom bg-gray">
                    <h5 class="innerAll pull-left margin-none">Basic Info</h5>
                    <div class="pull-right">
                        <a href="" class="text-muted">
                            <i class="fa fa-pencil innerL"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-6">User:</div>
                        <div class="col-sm-6 text-right">
                            <span class="label label-default">{{ user }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Friends:</div>
                        <div class="col-sm-6 text-right">
                            <span class="label label-default">{{ user.friends|length }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Joined:</div>
                        <div class="col-sm-6 text-right">
                            <span class="label label-default">{{ user.joined|date("m/d/Y") }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-head border-bottom bg-gray">
                    <h5 class="innerAll pull-left margin-none">Contact</h5>
                    <div class="pull-right">
                        <a href="" class="text-muted">
                            <i class="fa fa-facebook innerL"></i>
                        </a>
                        <a href="" class="text-muted">
                            <i class="fa fa-twitter innerL"></i>
                        </a>
                        <a href="" class="text-muted">
                            <i class="fa fa-dribbble innerL"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body padding-none">
                    <div class="innerAll">
                        <p class=" margin-none"><i class="fa fa-phone fa-fw text-muted"></i> Phone number: {{ user.phoneNumber }}</p>
                    </div>
                    <div class="border-top innerAll">
                        <p class=" margin-none"><i class="fa fa-envelope fa-fw text-muted"></i> Email: {{ user.email }}</p>
                    </div>
                    <div class="border-top innerAll">
                        <p class=" margin-none"><i class="fa fa-link fa-fw text-muted"></i> <a href="{{ path('user_profile', { 'id': user.id }) }}">Visit website</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="innerT">
        <div class="widget">
            <div class="widget-head border-bottom bg-gray">
                <h5 class="pull-left margin-none innerAll">Friends <span class="text-muted">{{ user.friends|length }}</span></h5>
                <div class="pull-right">
                    <a href="" class="text-muted">
                        <i class="fa fa-eye innerL"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body margin-none">

                {% for friend in friends %}
                <div style="display: inline" class="innerAll">
                        <a style="display: inline" href="{{ path('user_profile', { 'id': friend.id}) }}">
                            <img style="display: inline; width: 8%;" src="{{ asset('uploads/avatar/') }}{{ friend.avatar }}" class="innerR innerB half" alt="Your avatar">
                            <p>{{ friend.firstName }} {{ friend.lastName }}</p>
                        </a>
                </div>
                    {% endfor %}

            </div>
    </div>
</div>
{% endblock content %}
