{% extends "::front.html.twig" %}
    {% block heading_profile %}
        {{ app.User.getFirstName }}
        {{ app.User.getLastName }}
    {% endblock heading_profile %}
    {% block profile %}
        <div class="row">
            <aside class="avatar col-md-2">
            </aside>
            <section class="col-md-10" >
                <ul class="list">
                    <li class="list-item">{{ app.User.getPosition}}</li>
                    <li class="list-item">{{ app.User.getGender}}</li>
                    <li class="list-item">{{ app.User.getDepartment}}</li>
                </ul>
            </section>
        </div>
    {% endblock profile %}
    {% block heading_wall %}
        <h1>My friends</h1>
        {% block friends %}
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li><a href="#my" role="tab" data-toggle="tab">My friends</a></li>
                <li><a href="#all" role="tab" data-toggle="tab">All people</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="my">
                    <ul>
                        {% for friend in my_friends %}
                            <div class="panel panel-danger communities_panel">
                                <div class="panel-heading">
                                    <li class="communities_list"><a href="{{ path('user_profile',{'id':friend.getid}) }}"> Name: {{ friend.getfirstname }}</a></li>
                                </div>
                                <div class="panel-body"><li class="communities_list">{{ friend.getdepartment }}</li></div>
                                <div class="btn btn-default"><a href="{{ path('user_remove_friend',{ 'id': friend.getid }) }}">Remove</a></div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="all">
                    <ul>
                        {% for man in all_people %}
                            <div class="panel panel-danger communities_panel">
                                <div class="panel-heading">
                                    <li class="communities_list"><a href="{{ path('user_profile',{'id':man.getid}) }}"> Name: {{ man.getfirstname }}</a></li>
                                </div>
                                <div class="panel-body"><li class="communities_list">{{ man.getdepartment }}</li></div>
                                <div class="btn btn-default"><a href="{{ path('user_add_friend',{ 'id': man.getid }) }}">Add to friends</a></div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endblock friends %}
    {% endblock heading_wall %}
{% block body %}
    {{ parent() }}
{% endblock body %}