{% extends "::front.html.twig" %}
 {% block profile %}
<div class="col-md-4 col-lg-3 k">
    <div class="widget">
        <div class="widget-body text-center">
            {% if app.security.token.user.id == entity.id %}
                {% if entity.avatar == false %}
                    <form action="{{ oneup_uploader_endpoint('avatar') }}" class="dropzone square drop_avatar">
                        <div class="dz-message message_dz"><h1>Drop</h1> file here to upload new avatar</div>
                        <div class="fallback">
                            <input name="file" type="file"/>
                        </div>
                    </form>
                {% endif %}
                {% else %}
                    <img src="{{ asset('uploads/avatar/') }}{{ entity.avatar }}" class="avatar media-object" alt="Your avatar">
                {% endif %}

            <h2 class="strong margin-none">{{ entity.firstname }}</h2>
            <div class="innerB">Working at {{ entity.department }}</div>
            {% if app.security.token.user != entity %}
                {% if app.security.token.user.isFriendOf(entity) %}
                    <a href="" class="btn btn-primary text-center btn-block">Send message</a>
                {% else %}
                <a href="{{ path('user_add_friend', { 'id': entity.getid }) }}" class="btn btn-primary text-center btn-block">Add to friends</a>
                    <a href="" class="btn btn-primary text-center btn-block">Send message</a>
                    {% endif %}
            {% endif %}
            <div class="btn-group-vertical btn-block">
                {% if app.security.token.user == entity %}
                <a href="{{ path('user_setting') }}" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
                <a href="/logout" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Logout</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% block recent_news %}
        {{ render(controller('BionicUniversityWallBundle:Front/Article:index')) }}
    {% endblock recent_news %}

    <!-- Widget -->
    <div class="widget widget-heading-simple widget-body-white">

        <!-- Widget Heading -->
        <div class="widget-head">
            <h4 class="heading glyphicons glyphicons-social twitter"><i></i>Twitter feed</h4>
        </div>
        <!-- // Widget Heading END -->

        <div class="widget-body" data-builder-exclude="element children">
            <div class="jstwitter" data-gridalicious="false" data-type="slide" data-images="false"><span class="label label-default">Loading .. </span></div>
        </div>
    </div>
    <!-- // Widget END -->
    {% endblock profile %}

    {% block content %}
        {{ include ("BionicUniversityWallBundle:Post/Front:posts.html.twig", {'posts':posts, 'form':form}) }}
    {% endblock content %}
