{% extends "::front.html.twig" %}
    {% block heading_profile %}
        {{ entity.firstName }}
        {{ entity.lastName }}
    {% endblock heading_profile %}
    {% block profile %}
       
        <div class="row">
            <aside class="avatar col-md-2">
            </aside>
            <section class="col-md-10" >
                <ul class="list">
                    <li class="list-item">Position: {{ app.security.token.user.position}}</li>
                    <li class="list-item">Gender: {{ app.security.token.user.gender}}</li>
                    <li class="list-item">Department: {{ app.security.token.user.department}}</li>
                    <li class="list-item">Interests:
                        <ul>
                            {% if entity.interests != 'none' %}
                                {% for interest in entity.interests %}
                                    <li><a href="{{ path('user_profile', { 'id': entity.id, 'strSearch': interest.name }) }}">{{ interest.name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
    {% endblock profile %}
    {% block heading_wall %}
        <h1>My blog</h1>
        <div>
            {{ form(form) }}
        </div>
        <div>
            <ul>
                {% for post_body in post %}
                    <div class="">
                        <li class="">{{ post_body.text }}</li>
                        {% if app.security.token.user == post_body.author %}
                            <a href="{{ path('delete_post', {'id': post_body.id, '_token': csrfToken}) }}">
                                Delete
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endblock heading_wall %}


