{% block profile %}
<div class="col-md-4 col-lg-3 k">
    <div class="widget">
        <div class="widget-body text-center">
            <a href=""><img src="{{ asset(app.security.token.user.fullAvatar) }}" width="120" alt="" class="img-circle"></a>
            <a href="{{ path('user_about',{'id': app.security.token.user.id}) }}" ><h2 class="strong margin-none">{{ app.security.token.user}}</h2></a>
            <div class="innerB">Working at {{ app.security.token.user.department }}</div>
            <div class="btn-group-vertical btn-block">
                    <a href="{{ path('user_setting') }}" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
                    <a href="/logout" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Logout</a>
            </div>
        </div>
    </div>

    {% block recent_news %}
        {{ render(controller('BionicUniversityWallBundle:Front/Article:index')) }}
    {% endblock recent_news %}

    <!-- Widget -->
    <div class="widget widget-heading-simple widget-body-white">

        <!-- Twitter Widget -->
        <div class="widget widget-heading-simple widget-body-white">

            <!-- Widget Heading -->
            <div class="widget-head">
                <h4 class="heading glyphicons glyphicons-social twitter"><i></i>Twitter feed</h4>
            </div>
            <!-- // Widget Heading END -->

            <a class="twitter-timeline"  href="https://twitter.com/SparrowSocial"  data-widget-id="497557899200036865">Tweets by @SparrowSocial</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        </div>
        <!-- // Widget END -->

    {% endblock profile %}
