{% extends '::front.html.twig' %}

{% block profile %}

    {{ users.firstName }}<br>
    {{ users.lastName }}<br>
    {{ users.email }}
    <p>Gender: {{ users.gender }}</p>
    {{ users.department }}

{% endblock profile %}