{% extends '::front.html.twig' %}

{% block profile %}

    {{ users.firstName }}<br>
    {{ users.lastName }}<br>
    {{ users.email }}
    <p>Gender: {{ users.gender }}</p>
    {{ users.department }}
<p><a href={{ path('user_search') }}>search again</a></p>
{% endblock profile %}