{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/login.css') }}"/>
{% endblock %}
{% extends "::base.html.twig" %}
{% block body %}
<section class="container">
    <div class="login">
        <h1>Welcome to Sparrow</h1>
        {% block fos_user_content %}
        {% block profile %}
        {% block login_form %}
        {% if error is defined %}
            <div>{{ error|trans }}</div>
        {% endif %}
        <form method="post" action="{{ path("fos_user_security_check") }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <p><input type="text" id="username" name="_username" value="" placeholder="Username"></p>
            <p><input type="password" id="password" name="_password" value="" placeholder="Password"></p>
            <p class="remember_me">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                    Remember me on this computer
                </label>
            </p>
            <p class="submit">
                <input type="submit" id="_submit" name="_submit" value="Login">
            </p>
        </form>
        {% endblock login_form %}
        {% endblock profile %}
        {% endblock fos_user_content %}
    </div>

    <div class="login-help">
        <p>Forgot your password? <a href="{{ path("fos_user_resetting_request") }}">Reset your password</a>.</p>
    </div>
</section>
{% endblock body %}